<h1>Tasks List</h1>
<ul class="list-unstyled">
<% @tasks.each do |task| %>
  <li>
    <h3> <input type="checkbox" name="completed" id="completed">
    <label for="completed"><%= link_to task.title, show_path(task) %></label></h3>
  </li>
<% end %>
</ul>
